{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Home Page</title>
{% endblock %}

{% block content %}
<div id="home-container">
    <div id="logo-container">
        <img id="logo-img" src="{% static 'images/Logo1.png' %}">
    </div>
    <h1 class="main-content-title">This is <b id="name">DPDeveloper</b></h1>
    <br>
    <p id="intro">
        I am passionate about software development and technology, so I developed this site in order to show my projects, skills 
        and knowledge in the field. If you want to see more about my skills and work, feel free to check my projects, GitHub account,
        and the about section.
    </p>
    <div class="btn-container">
        <button class="btn btn-succces" id="git-btn">
            <a href="/projects/">My Projects</a>
        </button>
    </div>
</div>
{% endblock %}