<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static 'images/Logo1.png' %}" type="image/png" />
    {% block title %}
    {% endblock %}
    <style>
       
    </style>
</head>

<body>
    
    <nav class="sidebar">
        <a href="/home/" id="home-link"><i class="fa fa-home" > HOME</i></a>
        
        <a href="/projects/"><i class="fa fa-list" > All Projects</i></a>

        <button class="drop-btn">
            <i class="fa fa-code"> Programming</i>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for lang in tech_Types.languages %}
                <a href="#"><i class="fa fa-code"> {{lang}}</i></a>
            {% endfor %}
        </div>

        <button class="drop-btn">
            <i class="fa fa-cube"> Frameworks</i>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for frm in tech_Types.frameworks %}
                <a href="#"><i class="fa fa-cube"> {{frm}}</i></a>
            {% endfor %}
        </div>

        <button class="drop-btn">
            <i class="fa fa-gear"> Other Tools</i>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for tool in tech_Types.tools %}
                <a href="#"><i class="fa fa-gear"> {{tool}}</i></a>
            {% endfor %}
        </div>
       
        <a id="stick-low" href="/about/"><i class="fa fa-user" ></i> ABOUT ME</a>
    </nav>

    <div class="main-content">
        <br>
        <br>
        {% block content %}

        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" 
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" 
            crossorigin="anonymous">
     </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" 
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" 
            crossorigin="anonymous">
    </script>
    <script>
        var dropdownBlock = document.getElementsByClassName("drop-btn");
        var i ;
        for (i = 0; i < dropdownBlock.length; i++) {
            dropdownBlock[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if(dropdownContent.style.display === "block"){
                    dropdownContent.style.display = "none";
                }
                else{
                    dropdownContent.style.display = "block";
                }
            });
            
        }
    </script>
</body>
</html>