
/*NAVBAR*/
.sidebar {
    margin: 0;
    /*padding-top: 15%;*/
    width: 18%;
    background-color: rgb(49, 42, 42);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a, .drop-btn {
    display: block;
    color: rgb(23, 235, 23);
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    background-color: rgb(49, 42, 42);
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
    text-align: left;
    /*height: auto;*/
    /*font-weight: bolder;*/
}
    
.sidebar a.active {background-color: #04AA6D;color: white;}

.sidebar a:hover {
    background-color: green;
    color: black;
    font-weight: bolder;
}

.sidebar a i:hover{
    background-color: green;
    color: black;
    font-weight: bolder;
}

.drop-btn:hover{
    background-color: green;
    color: black;
    font-weight: bolder;
}

/*i p{float: right}*/

.dropdown-content{
    display: none;
    width: 100%;
    font-size: 10px;
    /*min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;*/
}

.dropdown-content a{
    font-size: 20px; 
    background-color: rgb(61, 55, 55);
    padding-left: 8%;
}

.dropdown-content a:hover{ background-color: rgb(100, 240, 65); }

.dropdown-content a i:hover{ background-color: rgb(100, 240, 65); }

.active{
    background-color: green;
    color: black;
    font-weight: bolder;
}

#stick-low{
    /*margin-top: 60.6%;*/
    position: absolute;
    background-color: #04AA6D;
    color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*BODY AND MAIN*/

div.main-content {
    /*margin-left: 200px;*/
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px; 
}

body{
    background-color: rgb(202, 245, 243);
    /*background: linear-gradient(rgb(125, 176, 185)10%, white);*/
}

#name{color: rgb(74, 74, 207);}

mark{background-color: rgb(226, 226, 24);}

#intro {
    margin-right: 6%; 
    margin-left: 4%;
    font-family: 'Courier New', Courier, monospace; 
    font-size: large;
    
}

div.btn-container{ padding-top: 10%;}

#redirect-btn{
    background-color: rgb(24, 161, 24);
    width: 20%;
    height: 50px;
    font-weight: bolder;
    font-size: larger;
}

#redirect-btn a{color: black; text-decoration: none;}

.main-content-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 85px;
    padding-top: 10%;
}

#home-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 60%;
    /*padding-right: 5%;
    padding-left: 3%;
    padding-bottom: 5%;*/
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1300px){
    #redirect-btn{width: auto; }
}

@media screen and (min-height: 1000px) {
    
}

@media screen and (max-width: 1000px) and (min-width: 700px){
    .sidebar{width: 30%; padding-top: 0%;}
    #redirect-btn{
        width: auto; 
        display: block; 
        margin-right: auto; 
        margin-left: auto;
    }
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: 5%;
        padding: 0;
        position: relative;
    }
    #stick-low{ margin-top: 0%; position: relative;}
    .sidebar a {
        float: left; 
        font-size: 29px; 
        width: 100%;
    }
    div.main-content {margin-left: 0px;}
    .main-content-title{font-size: 60px; padding-top: 0%;}
    #home-container{width: 80%;}
    #redirect-btn{
        width: auto; 
        display: block; 
        margin-right: auto; 
        margin-left: auto;
    }
    .dropdown-content a{font-size: 20px;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        /*text-align: center;*/
        float: none;
    }
} 