
/*NAVBAR*/
.sidebar {
    margin: 0;
    /*padding-top: 15%;*/
    width: 15%;
    /*background-color: rgb(61, 57, 57);*/
    background-color: rgb(37, 32, 32);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a, .drop-btn {
    display: block;
    color: rgb(23, 235, 23);
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    /*background-color: rgb(49, 42, 42);
    background-color: rgb(61, 57, 57);*/
    background-color: rgb(37, 32, 32);
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
    text-align: left;
    /*height: auto;*/
    /*font-weight: bolder;*/
}
    
.sidebar a.active {background-color: #04AA6D;color: white;}

.sidebar a:hover {
    background-color: green;
    color: black;
    font-weight: bolder;
}

.sidebar a i:hover{
    background-color: green;
    color: black;
    font-weight: bolder;
}

.drop-btn:hover{
    background-color: green;
    color: black;
    font-weight: bolder;
}

/*i p{float: right}*/

.dropdown-content{
    display: none;
    width: 100%;
    font-size: 10px;
    /*min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;*/
}

.dropdown-content a{
    font-size: 20px; 
    background-color: rgb(58, 50, 50);
    padding-left: 8%;
}

.dropdown-content a:hover{ background-color: rgb(100, 240, 65); }

.dropdown-content a i:hover{ background-color: rgb(100, 240, 65); }

.active{
    background-color: green;
    color: black;
    font-weight: bolder;
}

#home-link{
    /*background-color: rgb(6, 6, 134);*/
    background-color: rgb(2, 109, 2);
    color: white;
    text-align: center;
    top: 0%;
}

#home-link i:hover{ background-color: rgb(2, 109, 2); }

#stick-low{
    /*margin-top: 60.6%;*/
    position: absolute;
    background-color: #04AA6D;
    color: black;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*BODY AND MAIN*/

div.main-content {
    /*margin-left: 200px;*/
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px; 
}

body{
    /*background-color: rgb(202, 245, 243);*/
    /*background-color: rgb(209, 203, 203);*/
    /*background-color: rgb(41, 35, 35);*/
    background-color: rgb(20, 17, 17);
    color: white;
}

#name{
    /*color: rgb(74, 74, 207);*/ 
    color: rgb(201, 7, 7);
}

mark{background-color: rgb(226, 226, 24);}

#intro {
    margin-right: 24%; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: large;
}

div.btn-container{ padding-top: 4%; display: flex; justify-content: space-between; padding-bottom: 3%;}


.btn-container > #linkd-btn{
    margin-right: 55%;
}

#git-btn{
    background-color: rgb(24, 161, 24);
    width: 20%;
    height: 50px;
    font-weight: bolder;
    font-size: larger;
}

#linkd-btn{
    background-color: rgb(40, 88, 161);
    width: 20%;
    height: 50px;
    font-weight: bolder;
    font-size: larger;
}

#git-btn a{color: black; text-decoration: none;}
#linkd-btn a{color: black; text-decoration: none;}

.main-content-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 85px;
    padding-top: 10%;
}

.main-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 85px;
}

.subtitle{
    color: rgb(19, 136, 172);
    font-weight: bolder;
    font-size: 50px;
}

#home-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 65%;
}

.degree-container{
    display: block;
    margin-right: auto;
    padding-top: 1%;
    width: 80%;
    border-radius: 1rem;
    background-color: rgb(56, 52, 52);
}
.degree-container p{
    padding-left: 1%;
}
#file-link{
    display: block;
    background-color:rgb(24, 161, 24);
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 0%;
    height: 40px;
    text-align: center;
    margin-top: 12%;
}

.page-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

ul{
    list-style: square;
    font-size: large;
}

/*IMAGES*/
#logo-img{
    position: absolute;
    top: 3%;
    right: 3%;
    border-radius: 50%;
    width: 24%;
}
.degree-img{
    float: left;
    width: 25%;
    height: fit-content;
    margin-right: 3%;
    margin-left: 1%;
    margin-bottom: auto;
}
/*MEDIA QUERIES*/

@media screen and (max-width: 1300px){
    #git-btn{width: auto; }
    #linkd-btn{width: auto; }
}

@media screen and (min-height: 1000px) {
    
}

/*Tablets*/
@media screen and (max-width: 1000px) and (min-width: 700px){
    .sidebar{width: 30%; padding-top: 0%;}
    .degree-container{width: 100%;}
    #git-btn{
        width: auto; 
        height: auto;
        margin-right: auto; 
        margin-left: auto;
    }
    #linkd-btn{
        width: auto; 
        height: auto;
        margin-right: auto; 
        margin-left: auto;
    }
    .btn-container > #linkd-btn{
        margin-right: 15%;
    }
    .btn-container > #git-btn{
        margin-right: 15%;
    }
    .degree-img{height: 140px; width: 40%;}
    #file-link{margin-top: 6%;}
}

/*Phones*/
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: 5%;
        padding: 0;
        position: relative;
    }
    #stick-low{ margin-top: 0%; position: relative;}
    .sidebar a {
        float: left; 
        font-size: 29px; 
        width: 100%;
    }
    div.main-content {margin-left: 0px;}
    .main-content-title{font-size: 60px; padding-top: 10%;}
    #home-container{width: 90%;}
    .page-container{width: 90%;}
    /*#logo-container{padding-top: 5%; margin-top: 5%;}*/
    #logo-img{
        position: relative;
        /*top: 45%; 
        right: 15%;*/
        width: auto;
        margin-left: auto;
        left: 5%;
    }
    .btn-container{padding-bottom: 20%;}
    .degree-container{width: 100%;}
    #git-btn{
        width: auto;
    }
    #linkd-btn{
        width: auto; 
    }
    .btn-container > #linkd-btn{
        margin-right: 15%;
        width: auto;
        height: auto;
    }
    .btn-container > #git-btn{
        margin-right: 15%;
        width: auto;
        height: auto;
    }
    .dropdown-content a{font-size: 20px;}
    #intro{margin-right: 0%;}
    .degree-img{height: 140px; width: 40%;}
    #file-link{margin-top: 6%;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        /*text-align: center;*/
        float: none;
    }
} 